* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --primary-color: #fff;
  --secondary-color: #011627;
  --input-color: #01162763;
  --custom-color: #6338ec;
}
