* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --primary-color: #fff;
  --secondary-color: #011627;
  --input-color: #01162763;
  --custom-color: #6338ec;
}

body {
  background-color: var(--primary-color);
}

.container {
  width: 90%;
  max-width: 1200px;
  margin-inline: auto;
}

header .navbar {
  padding-top: 15px;
}

header .navbar .box-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .navbar .box-navbar .logo h1 {
  font-family: 'Roboto', sans-serif;
  color: var(--secondary-color);
}

header .navbar .box-navbar .menu {
  display: flex;
  column-gap: 50px;
  flex: 1;
  justify-content: flex-end;
  margin-right: 50px;
}

header .navbar .box-navbar .menu li {
  list-style: none;
}

header .navbar .box-navbar .menu li a {
  text-decoration: none;
  color: var(--secondary-color);
}

header .navbar .box-navbar .menu li a:hover {
  color: var(--custom-color);
}

header .navbar .box-navbar .fa-bars {
  font-size: 24px;
  color: var(--custom-color);
  display: none;
}

header .navbar .box-navbar .btn-switch .dark-mode {
  display: none;
}

header .navbar .box-navbar .btn-switch i {
  font-size: 24px;
  color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

.hero .box-hero {
  margin-top: 50px;
  text-align: center;
}

.hero .box-hero h1 {
  font-size: 60px;
  margin-bottom: 10px;
  line-height: 1.1;
  font-weight: 900;
  color: var(secn);
}

.hero .box-hero p {
  margin-bottom: 20px;
  color: var(--secondary-color);
}

.hero .box-hero .btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero .box-hero .btn button {
  width: 120px;
  height: 45px;
  border: none;
  background-color: var(--custom-color);
  border: none;
  color: var(--primary-color);
  cursor: pointer;
  margin-right: 2px;
}

.hero .box-hero .btn input {
  width: 700px;
  height: 45px;
  font-size: 16px;
  padding-inline: 10px;
  border: 1px solid var(--input-color);
}

.hero .box-hero .hero-img {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 10px;
}

.hero .box-hero .hero-img img {
  width: 100%;
  height: 100%;
}

@media (max-width: 992px) {
  header .navbar .box-navbar .fa-bars {
    display: block;
  }

  header .navbar .box-navbar .menu {
    display: none;
  }

  header .navbar .box-navbar .btn-switch {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    margin-right: 10px;
  }

  .hero .box-hero h1 {
    font-size: 55px;
  }
}

@media (max-width: 768px) {
  .hero .box-hero h1 {
    font-size: 45px;
  }

  .hero .box-hero .btn button {
    min-width: 100px;
  }
}

@media (max-width: 576px) {
  .hero .box-hero h1 {
    font-size: 35px;
  }

  .hero .box-hero p {
    padding-inline: 20px;
  }
}

@media (max-width: 476px) {
  .hero .box-hero p {
    font-size: 14px;
  }
}

@media (max-width: 376px) {
  .hero .box-hero .btn input {
    width: 100%;
  }
}
